.wrapper{
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    /* fr unidade do grid para dizer que algo tem tamanho flexivel*/
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;


}